# Default ignored files
spark/introduction_to_pyspark_app/data/
spark/introduction_to_pyspark_app/DataSinkResult/
spark/introduction_to_pyspark_app/metastore_db/
spark/introduction_to_pyspark_app/spark-warehouse/
test.py
Exploration/
challenge_your_skill/
.idea/